<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
     <security>
    <requestFiltering>
      <hiddenSegments>
        <clear />
      </hiddenSegments>
      <fileExtensions>
        <clear />
      </fileExtensions>
    </requestFiltering>
  </security>
         <staticContent>
            <mimeMap fileExtension=".manifest" mimeType="x-ms-manifest" />
            <mimeMap fileExtension=".deploy" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".zip" mimeType="application/x-zip-compressed" />
            <mimeMap fileExtension=".config" mimeType="text/plain" />
            <mimeMap fileExtension=".pvk" mimeType="text/plain" />
            <mimeMap fileExtension=".cert" mimeType="text/plain" />
            <mimeMap fileExtension=".pfx" mimeType="text/plain" />
            <mimeMap fileExtension="." mimeType="text/plain" />
         </staticContent>
     </system.webServer>
 </configuration>
