@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body.darkmode {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: rgb(238, 238, 238);
	color: black;
}

input {
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
}

input.darkmode {
    border:1px solid #2f2f2f;
    background-color: #2f2f2f;
    color: lightgray;
    font:16px/26px Georgia, Garamond, Serif;
}

div.darkmode {
    border:1px solid #ccc;
}

div {
    border:1px solid #222222;
}

.simple-container {
	max-width: 675px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border-color: white;
}

.simple-ext-info {
	border-top: 1px solid #aaa;
}

table {
    width: 100%;
}

th.darkmode {
    text-align: center;
    border: 3px solid rgb(0, 106, 0);
}

th {
    text-align: center;
    border: 3px solid rgb(247, 124, 145);
}

td.darkmode {
    text-align: center;
    border: 1px solid rgb(0, 106, 0);
}

td {
    text-align: center;
    border: 1px solid rgb(247, 124, 145);
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3.darkmode {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

button.darkmode {
    margin-top:5px;
    margin-right:30px;
    background-color: #222;
	color:#e8e7e7;
}

button {
    margin-top:5px;
    margin-right:30px;
    background-color: #e8e7e7;
}

ul.darkmode {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e2e2e2;
  }


  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px;
    text-decoration: none;
    font-weight: bolder;
  }

  li.darkmode a:hover {
    background-color: #111111;
  }

  li a:hover {
    background-color: #c1c1c1;
  }



a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}