<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="C:\Windows\Tasks"/>
      </assemblyBinding>
      <appDomainManagerAssembly value="Bolthole, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <appDomainManagerType value="BoltDomain" />
   </runtime>
</configuration>