{% extends "master.html" %}

{% block title %}
Settings
{% endblock %}

{% block html_head %}
{% endblock %}

{% block bread_crumb %}
<div class="pagetitle">
  <h1>Settings</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Settings</li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block html_content %}
<div class="card" style="width:80%;">
    <div class="card-body">
      <h5 class="card-title">UI Settings</h5>
        <form id="cForm" action="/settings" method="post" class="row g-3">
            <table class="table table-borderless table-striped">
                <input type="hidden" name="name" value="ui_settings">
                <tr>
                    <td>
                        <b>Source IP Address</b><br>
                        <i>Dispatch Server's external IP address used for URL creation.</i>
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="text" name="source_ip" class="form-control" value="{{ config['source_ip'] }}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Max File Size</b><br>
                        <i>Define the max file size in bytes. (Default: 16mb)</i>
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="text" name="max_size" class="form-control" value="{{ config['MAX_CONTENT_LENGTH'] }}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Redirect URL</b><br>
                        <i>Define redirect URL for access control violations.</i>
                        <p style="margin:10px 0 10px 0;">
                            ⚠️ <b>Warning:</b> Adding the Dispatch IP will create an event loop and should be avoided.
                        </p>
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="text" name="redirect_url" class="form-control" value="{{ config['redirect_url'] }}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Server Header</b><br>
                        <i>Modify the server's HTTP response "Server" value.</i>
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="text" name="server_header" class="form-control" value="{{ config['server_header'] }}" required>
                    </td>
                </tr>
            </table>

            <div class="col-md-3">
              <button style="background-color:#42B41C;border-color:#42B41C;" class="btn btn-primary w-100" type="submit">
                <i class="bi bi-tools"></i>&nbsp;
                Save
              </button>
            </div>
        </form>
    </div>
  </div>


<div class="card" style="width:80%;">
  <div class="card-body">
    <form action="/settings" method="post" name="create_file" enctype="multipart/form-data">
        <h5 class="card-title"><a id="access">Login Allow List</a></h5>
        <input type="hidden" name="name" value="login_restrictions">
        <div class="col-md-12" style="padding-bottom:25px;">
            <div style="padding-bottom:8px;">
                If provided, only the source IP addresses listed below will be permitted to access the Dispatch login page.
                <br>
            </div>
            <textarea class="form-control" name="allow_login" rows="6" placeholder="(One per line)">{{ '\n'.join(config['allow_login']) }}</textarea>
        </div>
        <div class="col-md-3">
          <button style="background-color:#42B41C;border-color:#42B41C;" class="btn btn-primary w-100" type="submit">
            <i class="bi bi-shield-lock"></i>&nbsp;
            Save
          </button>
        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block html_footer %}
{% endblock %}