aardwolf>=0.2.8
argcomplete>=3.1.4
asyauth>=0.0.20
beautifulsoup4>=4.11,<5
bloodhound-ce>=1.8.0
dploot>=3.1.0
dsinternals>=1.2.4
jwt>=1.3.1
lsassy>=3.1.11
masky>=0.2.0
minikerberos>=0.4.1
neo4j>=5.0.0
paramiko>=3.3.1
pyasn1-modules>=0.3.0
pylnk3>=0.4.3
pypsrp>=0.8.1
pypykatz>=0.6.8
python-dateutil>=2.8.2
python-libnmap>=0.7.3
requests>=2.27.1
rich>=13.3.5
sqlalchemy>=2.0.4
termcolor>=2.4.0
terminaltables>=3.1.0
xmltodict>=0.13.0
# Git Dependencies
impacket @ git+https://github.com/Pennyw0rth/impacket.git
oscrypto @ git+https://github.com/wbond/oscrypto
pynfsclient @ git+https://github.com/Pennyw0rth/NfsClient